<%- include("partials/header"); -%>


<div class="about">


<h1 class="">About Us</h1>

<p>We are a company looking to help everyone make the book they've always wanted to make</p>

</div>









<%- include("partials/footer"); -%>
