<%- include("partials/userheader"); -%>

<h1 class="userTitles">Getting Started</h1>
<div class="form">


<div class="notes">

    1. To make a journal entry just press Compose on the left.
</div>
<div class="notes">
  2. To edit or delete a journal entry just press the links at the bottom of the entry.
</div>
</div>
<%- include("partials/userfooter"); -%>
