
<%- include("partials/header"); -%>
<section class= "the-body">


          <div class="jumbotron centered">
            <div class="container  header-title">
              <i class="fa-solid fa-books fa-6x"></i>
              <h1 class="display-3 ">Welcome To Luminus</h1>
              <p class="lead">Begin Your Journal Today!!</p>
              <hr>
              <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
              <a class="btn btn-lg btn-light" href="/login" role="button">Login</a>

            </div>
          </div>

</section>
<%- include("partials/footer"); -%>
